[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lingmatch"]
	path = lingmatch
	url = https://github.com/miserman/lingmatch
[submodule "splot"]
	path = splot
	url = https://github.com/miserman/splot
